/* added for UoE PoA */
* {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #222;
}
i{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
a {
    color: #114250;
}
a:focus, a:hover,
.film-info p a:focus, .film-info p a:hover {
    color: #114250!important;
    text-decoration: none!important;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1)!important;
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1)!important;  
}
p {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #114250;
}
ul {
    font-size: 18px;
    list-style: none;
}
ul li {
    margin-bottom: 20px;
}
.parent-ul {
    margin-right: 70px;
}
.child-ul {
    margin-top: 20px;
}
html {
    background: rgb(247, 251, 255);
}
body
{
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    padding-top: 50px;
    background: rgb(247, 251, 255);
}
.container-fluid.container-full {
    background: rgb(247, 251, 255);
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -20px;
    margin-bottom: -20px;
    height: 645px;
    max-height: 645px;
    overflow: hidden;
}

.footer {
    padding: 0 15px 15px 15px;
    background-color: #2a2a2a;
    color: #ffffff;
}

.footer ul
{
    margin-top: 10px;
    list-style-type: none;
}

.footer a{
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover{
    color: #eeeeee;
}

.footer .nav { display: inline-block; }

.footer .nav a:hover{
    color: #333;
    background-color: #eeeeee;
}

.footer-margin {
    height: 0px;
}
.results-item {
    margin-bottom: 25px;
}

.col-md-6 {
    width: 100%;
}
@media (min-width: 992px){
    .col-md-6 {
        width: 100%;
    }
}

.result-info > .nav > li > span > i {
    margin-top: 2px;
    padding: 2px;
    color: #dddddd;
}

.result-info > .nav > li > a{
    margin-top: 2px;
    padding: 2px;
    text-align: center;
}

.result-info > .nav > li > a:hover {
    background-color: #999999;
    color: #eeeeee;
    text-decoration: none;
}

.col-xs-8 .record-title {
    font-size: 15px;
}

.items-link {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.record-thumbnail-portrait {
    height: 200px !important;
}

.record-thumbnail-landscape {
    width: 200px !important;
}

.main-image {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    background-color: #fefefe;
    margin-top: -57px;
    margin-bottom: 20px;
}

div.resized-image {
    text-align: center;
    width: 100%;
    padding: 0;
}

img.record-main-image {
    height: 700px;
    width: 100%;
}

img.record-main-image-landscape {
    width: 100%;
}

.img-about {
    padding-bottom: 15px;
}

div.resized-image img.record-main-image {
    height: 400px;
    width: 100%;
}

.related-title
{
    background-color: #333333;
    color: #ffffff;
    padding: 2px;
}

.page-header {
    margin: 0 0 10px;
}

.wide {
    width: 100%;
}

.wide a{
    color: #ffffff;
}

.wide a:hover{
    color: #333;
    background-color: #eeeeee;
}

.content{
    width: 100%;
    padding: 0;
    background-color: #ffffff;

}
.searchFound {
    margin: auto;
    margin-bottom: -5rem;
    width: 55%;
}
.suggestion {
    display: none;
}
.suggestion a {
    color: #114250!important;
}
.suggestion a:hover {
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
}

.bg-primary {
    background-color: #fff;
    color: #000;
    border-top: #a3a3a3 1px solid;
    margin-top: 10rem;
}
.bg-primary a {
    color: #114250;
    text-decoration: none;
}
.bg-primary a:hover {
    color: #114250;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
}

.btn-primary {
    background-color: #333;
    border-color: #eeeeee;
}
.btn-default {
    height: 50px;
    width: 150px;
    font-size: 18px;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.text-primary {
    color: #999999;
}

.pagination > .active > span {
    background-color: #333;
    color: #ffffff;
    border-color: #ffffff;
}

.pagination > .active > span.hover {
    background-color: #98767E;
    color: #ffffff;
    border-color: #ffffff;
}

.pagination > li > a {
    color: #333;
}

.record-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedback_form {
    margin-bottom: 10px;
}

.feedback_form h1 {
    font-size: 18px;
    color: #bbbbbc;
}

.feedback_form label {
    display: block;
    width: 100px;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

.feedback_form input[type="text"] {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    height: 28px;
    padding: 0 10px;
    width: 100%;
}

#feedback {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    padding: 0 10px;
    width: 100%;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

.form-control:focus {
    border-color: #630d0d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input.btn {
    background: #9FAB97 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin-left: 8px;
    padding: 0 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

div.spacer {
    height: 20px;
}

.related-image {
    width: 100%;
    text-align: center;
}

.related-xs {
    width: 100%;
}

.tab-content dl {
    padding-top: 5px;
}

.tab-content dl dd {
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.tab-content dd:last-child {
    padding-bottom: 0;
    border: none;
}

.nav > li > i.fa-inactive {
    display: block;
    padding: 5px 5px;
    position: relative;
    color: #dddddd;
}

/* NAVBAR STYLES */
.navbar{
    background-color: #114250;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;
    border: 0;
    height: 100px;
}
.navbar-fixed-top {
    border-width: 0;
    height: 120px;
}
.nav-title {
    float: left;
}
.nav-title p {
    color: #fff;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    margin-left: 275px;
    margin-bottom: 15px;
}
.nav-logo
{
    width: 500px;
}
.navbar a {
    color: #EEEEEE;
    text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: none!important;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
}
.right-nav img {
    width: 75px;
    margin-top: 15px;
    margin-right: 30px;
}
.right-nav {
    float: right;
}
.navbar-form {
    border: 0 none;
    box-shadow: none;
    margin: 25px 0;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
    text-align: center!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding-left: 22%;
}
#body-cont {
    display: none;
    width: 100%;
    margin-top: 100px;
}
/* REARRANGE AND RESIZE NAVBAR */
@media (max-width: 2200px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 24%;
    }
}
@media (max-width: 2200px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 22%;
    }
}
@media (max-width: 2000px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 20%;
    }
}
@media (max-width: 1900px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 18%;
    }
}
@media (max-width: 1800px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 15%;
    }
}
@media (max-width: 1700px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 12.5%;
    }
}
@media (max-width: 1600px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 10%;
    }
}
@media (max-width: 1500px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 7.5%;
    }
}
@media (max-width: 1400px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: inherit;
    }
}
@media (max-width: 1250px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 3.5%;
    }
}
@media (max-width: 1100px)
{
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
    padding-left: 5%;
    }
}
@media (max-width: 1050px)
{
    #nav-cont
    {
        display: none!important;
    }
    #body-cont
    {
        display: block!important;
    }
    #uoe-search 
    {
        width: 350px;
    }
}
/* REARRANGE AND RESIZE NAVBAR END */

.navbar-form > button {
    background-color: #666666;
    color: #dddddd;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.navbar-form > button:hover{
    background-color: rgb(175,31,36);
    color: #fff;
}
.navbar-form > .btn-default:hover {
    color: #fff;
    background-color: rgb(175,31,36);
    border-color: #adadad;
}

.navbar-right {
    margin-top: 22px;
    margin-right: 35px;
}
#full-visit {
    visibility: visible;
}
#smol-visit, #xtra-smol-visit {
    visibility: hidden;
    margin-top: 25px;
}
#smol-visit a, #xtra-smol-visit a {
    font-size: 16px;
}

@media (max-width: 770px)
{
    .navbar-right
    {
        margin-right: -100%;
    }
    .sch-link a 
    {
        margin-left: 10%;
    }
}
@media (max-width: 720px)
{
    .sch-link a 
    {
        margin-left: 8%;
    }
}
@media (max-width: 700px)
{
    .sch-link a 
    {
        margin-left: 4%;
    }
}
@media (max-width: 670px)
{
    .sch-link a 
    {
        margin-left: 0%;
    }
}
@media (max-width: 650px)
{
    #full-visit {
        display: none!important;
    }
    #smol-visit {
        visibility: visible!important;
    }
    .sch-link a 
    {
        margin-left: 10%;
    }
}
@media (max-width: 650px)
{
    .sch-link a 
    {
        margin-left: 5%;
    }
}
@media (max-width: 570px)
{
    .sch-link a 
    {
        margin-left: 0%;
    }
}
@media (max-width: 530px)
{
    #smol-visit {
        display: none!important;
    }
    #xtra-smol-visit
    {
        visibility: visible!important;
    }
    .sch-link a 
    {
        margin-left: 10%;
    }
}
@media (max-width: 500px)
{
    .sch-link a 
    {
        margin-left: 5%;
    }
}
@media (max-width: 4700px)
{
    .sch-link a 
    {
        margin-left: 0%;
    }
}
@media (max-width: 440px)
{
    .sch-link 
    {
        display: none!important;
    }
    .nav-logo {
        width: 70%!important;
        margin: auto!important;
    }
}

.col-lg-4.col-md-4.hidden-sm.hidden-xs {
    padding-right: 40px;
}

#record-navbar {
    width: 48.8%;
    margin: auto;
}
.navbar-nav {
    float: none;
    margin: none;
}
.navbar-nav>li>a {
    color: #114250;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-logo-img {
    width: 375px;
    margin-top: 15px;
    float: left;
}
@media (max-width: 770px)
{
    .nav-logo-img
    {
        width: 350px;
    }
}
.nav-pills .fa,
.accordion-toggle .fa {
    font: normal normal normal 24px/1 FontAwesome!important;
}

/* RECORD PAGE NAVIGATION */
.center-nav {
    list-style: none;
    display: inline-flex;
}
.cnav-link {
    margin: 0px 20px;
    color: #114250;
    text-transform: uppercase;
    font-size: 16px;
}
.cnav-link:hover, .cnav-link:focus {
    color: #114250!important;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
}
/* END OF RECORD PAGE NAVIGATION */

.sch-link a {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2.5;
}

.sch-link-sm {
    width: 100%;
    text-align: right;
    margin-top: 12px;
}

.sch-link-sm a {
    padding-right: 30px;
    font-size: 20px;
}

.sch-link a:hover {
    color: #fff!important;
}

#uoe-search {
    width: 350px;
    font-size: 18px;
    height: 50px;
}
@media (max-width: 1250px)
{
    #uoe-search
    {
        width: 250px;
    }
}
@media (max-width: 1200px)
{
    #uoe-search
    {
        width: 200px;
    }
}
@media (max-width: 1150px)
{
    #uoe-search
    {
        width: 150px;
    }
}
@media (max-width: 1100px)
{
    #uoe-search
    {
        width: 100px;
    }
}
@media (max-width: 1050px)
{
    #uoe-search
    {
        width: 100%;
    }
}


#uoe-search-sm {
    font-size: 14px;
    height: 35px;
}

.home-icon {
    float: left;
    font-size: 24px;
    padding-top: 10px;
}

.col-xs-7 a.home-icon {
    padding-right: 10px;
}

.home-icon:hover, .home-icon:active {
    color: #666;
}

.record-tabs > ul > li > a > i.fa-inactive {
    color: #dddddd;
}

.record-tabs > ul > li > a.inactive {
    color: #dddddd;
}

.tags > li.active > a,
.tags > li.active > a:focus,
.tags > li.active > a:hover {
    position: relative;
    display: block;
    padding: 5px 5px;
    background: #eeeeee;
    color: #333;
}

.tags > li.active > a:hover {
    background: #333;
    color: #ffffff;
}

.record_bitstreams
{
    padding-top: 2px;
}

/* ---- grid from masonry for search results ---- */

strong {
    font-weight: 500!important;
    color: #114650;
}
.box {
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: left; /*for horizontal alignment */
    /* align-items: center; /* for vertical alignment */
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
    opacity: .99;
    clear: both;
}

.grid-item {
    display: block;
    margin: 0 0 1em;
    float: none;
    background: #114650;
}

.grid-item-content {
    height: 100%;
    padding-bottom: 20px;
}

.grid-item-container {
    text-align: center;
}

figcaption {
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.searchTitle{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #114250;
}

.searchDate{
    font-size: 15px;
    width: 100%;
}

.searchFoundRow {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10rem;
}

.searchFound {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.thumbnail {
    border:0;
}

.record-thumbnail-search{
    border: solid 2px #114250;
}

.uoe_logo
{
    width: 89px;
    height: 86px;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 25%;
    background: #888;
    color: #262524;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

.second-navbar{
    margin-bottom: 0px;
    top: 50px;
    background-color: #666;
    border: none;
}

.no-padding {
    padding: 0;
}



.icon-bar {
    color: black;
    border-color: black;
    background-color: black;
}

.grid {
    clear: both;
    margin: 5em 0;
}
.grid-item.thumbnail img {
    border: 2px solid #114250;
    border-radius: 0;
    margin-bottom: 20px;
}
.link-uppercase {
    text-transform: uppercase;
    color: #114250;
    letter-spacing: 1px;
}

/** Facets */

.facet_title{
    font-size: 16px;
    letter-spacing: 1px;
}
.facet_title .fa {
    margin-left: 5px;
    font: normal normal normal 14px/1 FontAwesome!important;
}

.collapse.in {
    display: block;
}

#side_facet {
    text-align: right;
    padding-right: 50px;
}
#side_facet h3 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #222;
    margin-left: 12px;
    font-size: 2em;
    letter-spacing: .1em;
}
.panel-body a {
    color: #114250;
    text-decoration: none!important;
}
.panel-body a:hover {
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
    box-shadow: inset 0 0 0 rgb(19,67,79,0), 0 3px 0 rgba(19,67,79,1);
}
.panel-facets {
    color: #777;
    border: none;
    box-shadow: none;
}
.panel-heading {
    text-transform: uppercase!important;
    font-weight: bold!important;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
}
.panel-default>.panel-heading {
    background-color: #fff!important;
}
.full-metadata {
    margin-top: -60px!important;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.description {
    padding: 1px;
    font-size: 16px;
}

.straight-borders
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/***** Record Page *****/

.stc-resized-image {
    text-align:center;
}

.stc-img-responsive{
    margin: auto;
    position: relative;
    text-align:center;
}

.record-content {
    margin-top: 50px;
}

/* heading */
#stc-section1 {
    padding-bottom: 10px;
    color: #333;
    margin: auto;
    width: 50%;
    text-align: center;
}
#stc-section1 h2 {
    text-transform: uppercase;
    font-weight: bold;
    background: none!important;
}

/* item navigation */
#item-nav {
    margin: auto;
    padding-left: 150px;
}
#item-nav>li>a {
    padding-bottom: 5px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}

/* image */
#stc-section2 {
    color: #fff;
    width:50%;
    padding:0;
    margin-top: 40px!important;
}
#stc-section3, #stc-section4, #stc-section5 {
    text-align: center;
    margin-top: 20px!important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-description {
    text-align: justify;
    margin: auto;
    width: 50%;
}
/* description */
#stc-section3 {
    color: #333;
}
h3.inst-desc {
    font-size: 24px!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0px;
}
audio {
    margin: 0px 20px;
}

/* audio */
#stc-section4 {
    max-height:1100px;
    color: #333;
}

/* instrument data */
#stc-section5 {
    margin-bottom:0;
    color: #333;
    padding-left: 0;
    padding-right: 0;
}


/* related items */
#stc-section6 {
    padding-top:0;
    color: #333;
    background-color: #fff;
    padding: 0;
    text-align: center;
    margin-top: 0px!important;
}
h2.itemtitle.hidden-sm.hidden-xs {
    font-size: 24px!important;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}
#centered-grid {
    margin: auto;
    width: 65%;
}

#stc-section5.panel {
    border: 0;
    box-shadow: none;
}

#stc-section5 .panel-heading {
    padding-left: 0;
    border: 0;
}

#stc-section5 .panel-title > a {
    color: #333;
}

#stc-section5 .panel-heading {
    padding-left: 0;
}

#stc-section5 .panel-heading > h2 a {
    font-size: 30px;
}

#stc-section5 .panel-heading > h4 a {
    font-size: 18px;
}

#stc-section5 .panel-body {
    border: none;
    box-shadow: none;
    padding-left: 0;
}

.stc-tags                   { margin-top: 5px; margin: 0; display: inline;}
.stc-tags a                 { font-size: 16px; color: #fff;background: #630d0d; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 2px 6px; line-height: 20px; margin-right: 8px; margin-top: 5px; text-decoration: none; display:inline-block; 
                                margin-top: 20px;
                                margin-bottom: 20px;
                                display: inline-block;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding: 10px 15px;
                            }
.stc-tags a.bold            { font-weight: bold; }
.stc-tags a:hover           { background: rgb(175,31,36)!important; color: #ffffff; }
.stc-tags a.maker           { display:inline-block; line-height: 15px; margin-bottom: 5px; }

.thumbnail {
    border: 0;
}

.thumb-strip {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #fff;
}

[type='radio'] {
    display: none;
}

.iiiflogo                           { height:50px;}
.iiifstatic                         { height:80px;}
.lunaiiif                           { height:50px;}

.record-thumb-strip {
    height: 160px;
}

.image-toggler {
    margin-bottom: 0;
}

div[id$="info"] {
    border: 1px solid #a0aab2;
    margin: 20px auto 30px;
    float: left;
}


/***** Index Page *****/

.container-full {
    padding-left: 0;
    padding-right: 0;
}

.col-lg-12 {
    width: 100%;
    z-index: 0;
}

#poa_banner {
    float: right;
    background-position: center;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
.index-para {
    float: right;
    font-size: 18px;
    text-align: justify;
    margin: 10px 0px 10px 20%;
}

#galleries {
    padding: 100px 50px 0 20%;
    width: 107%;
}
#galleries .grid-sizer {
    width: 32%;
}

div[id^="gallery"].grid-item {
    margin: 5px;
    height: 150px;
    float: left;
    border: 5px solid #114250;
    transition: .8s ease-in-out;
}

div[id^="gallery"] {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 1;
}


#galleryethst {
    background-image: url(https://test.collections.ed.ac.uk/theme/pointsofarrival/images/index-links/howto.png);
}
#galleryethpe {
    background-image: url(https://test.collections.ed.ac.uk/theme/pointsofarrival/images/index-links/resources.png);
}
#gallerykb {
    background-image: url(https://test.collections.ed.ac.uk/theme/pointsofarrival/images/index-links/films.png);
}
#gallerywespe {
    background-image: url(https://test.collections.ed.ac.uk/theme/pointsofarrival/images/index-links/themes.png);
}

.gallery-title {
    background-image: url(../images/header.png);
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .8s ease;
}
.text-hover, .text-overlay {
    height: 50px;
    padding: 0px 20px;
    position: absolute;
    margin: -25px -75px;
}
.text-hover {
    margin-left: -122px;
    margin: -25px -75px 25px -73px;
}
.rsrc {
    position: absolute;
    margin-left: -175px;
    margin: -25px -110px;
}
.thht {
    position: absolute;
    margin: -25px -80px 25px -78px;
}
.text-overlay.thht {
    margin: -25px -80px;
}
#rsrc-hov {
    margin: -25px -110px -25px -108px;
}

div[id^="gallery"] .gallery-title{
    display: none;
    display: block;
    color: #fff;
    letter-spacing: 2px;
    width: 100%;
    transition: .8s ease;
}

div[id^="gallery"]:hover .gallery-title{
    display: block;
    color: #fff;
    letter-spacing: 2px;
    background: rgb(19,67,79); /* Fallback for browsers that don't support RGBA*/
    background: rgba(19,67,79, 0.7);
    width: 100%;
    height: 100%;
    transition: .8s ease;
}
div[id^="gallery"]:hover .text-hover {
    z-index: 1;
    margin: 45px;
    margin-left: -75px;
}
div[id^="gallery"]:hover .text-overlay {
    margin: 45px;
    margin-left: -72px;
}
div[id^="gallery"]:hover .thht {
    margin-left: -77px;
}
div[id^="gallery"]:hover .text-hover .thht {
    margin-left: -80px;
}
div[id^="gallery"]:hover .text-overlay .thht {
    margin-left: -77px;
}
div[id^="gallery"]:hover .rsrc {
    margin: 45px;
    margin-left: -107px;
}
div[id^="gallery"]:hover #rsrc-hov {
    margin: 45px;
    margin-left: -110px;
}

/* catagory title for mobile/tablet */
.mob-title
{
    display: none;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgb(101, 1, 0); /* Fallback for browsers that don't support RGBA */
    background: rgba(101, 1, 0, 0.8);
    padding: 0 10px;
    width: 65%;
    margin: auto;
}
/* Open Seadragon */

div[id^="openseadragon"] {
    margin: 0 auto;
    width: 50%;
    height: 600px;
    border: 2px solid #114250;
}
.portrait-img, .portrait-img-lrg {
    width: 100%!important;
}

#toolbarDiv {
    z-index: 50;
}

.toolbarItem {
    width: 51px;
    height: 50px;
}

#zoom-in {
    background-image: url(../images/buttons/zoomin_rest.png);
}

#zoom-out {
    background-image: url(../images/buttons/zoomout_rest.png);
}

#home {
    background-image: url(../images/buttons/home_rest.png);
}

#full-page {
    background-image: url(../images/buttons/fullpage_rest.png);
}

#next {
    display: inline-block;
    position: relative;
    background-image: url(../images/buttons/next_rest.png);
}

#prev {
    display: inline-block;
    position: relative;
    background-image: url(../images/buttons/previous_rest.png);
}

.displayregion {
    border: 2px solid #630d0d;
}


/*@media only screen and (max-width : 1800px) {
    div.grid-item[id^="gallery"]
    {
        width: 32%;
        height: 450px;
    }

}

@media only screen and (max-width : 1200px) {

    div.grid-item[id^="gallery"]
    {
        width: 32%;
        height: 400px;
    }

}

@media only screen and (max-width : 979px) {

    div.grid-item[id^="gallery"]
    {
        width: 50%;
        height: 350px;
    }

}

@media only screen and (max-width : 767px) {

    div.grid-item[id^="gallery"]
    {
        width: 100%;
        height: 300px;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width : 480px) {

    div[id^="openseadragon"] {
        height: 400px;
    }

    div.grid-item[id^="gallery"]
    {
        width: 100%;
        height: 300px;
    }

    nav div.col-xs-5 {
        padding: 5px 0 0;
        text-align: right;
    }

    .sch-link-xs a {
        font-size: 18px;
        padding-right: 10px;
    }

}

@media only screen and (max-width : 320px) {

    div[id^="openseadragon"] {
        height: 200px;
    }

    div.grid-item[id^="gallery"]
    {
        width: 100%;
        height: 250px;
    }

    .sch-link-xs a {
        font-size: 17px;
        padding-right: 10px;
    }
}*/

.info-box{
    width:100%;
    padding: 10px;
}

/* Manifest iteration additions */
.iiiflogo                        { display: inline-block; width: 50px; height: 50px;  background: url(../images/iiiflogo.png) no-repeat 0px 0px;}
.lunalogo                        { display: inline-block; width: 50px; height: 50px;  background: url(../images/LUNAIIIF.png) no-repeat 0px 0px;}
.uvlogo                          { display: inline-block; width: 50px; height: 50px;  background: url(../images/uv.png) no-repeat 0px 0px;}
.ccbylogo                        { display: inline-block; width: 150px; height: 50px; background: url(../images/cc-by.png) no-repeat 0px 0px; background-size: contain;}
.miradorlogo                     { display: inline-block; width: 50px; height: 50px;  background: url(../images/mirador-logo.png) no-repeat 0px 0px;}

.full-image                         { width: 660px;}
.imageContainer                    { width: 660px; border: 1px solid #DCDCDC;}
label
{
    font-size : xx-small;
}

.json-link
{
    vertical-align: middle;
    margin: auto;
    text-align:center;
    padding-top: 15px;
}

.json-link-item
{
    padding: 2px;
    vertical-align: middle;
    text-align:center;
    height:50px;
}

/* GLYPHICON */
.glyphicon
{
    font-family: 'Glyphicons Halflings'!important;
}
/* GLYPHICON END */

.col-lg-9 {
    margin-top: -80px!important;
}
.col-lg-8 {
    width: 100%!important;
    height: 100%!important;
    border-bottom: #47838f 5px solid ;
}

.panel-default>.panel-heading {
    background-color: none!important;
}

/* INSTRUMENT METADATA TABLE */
dl {
    margin-bottom: 25px;
}
.dl-horizontal {
    display: inline-block;
    text-align: center;
}
.dl-horizontal dt, .dl-horizontal dd {
    display: inline;
}
.dl-horizontal dt {
    color: #114250;
}
.dl-horizontal dd {
    margin-bottom: 20px!important;
}
.dl-horizontal dt::after {
    content: ":";
}
.dl-horizontal dd:after {
    content: '';
    display: block;
}
.index-grid
{
    width: 23%!important;
}

/*@media (min-width: 768px)
{
    .dl-horizontal dt
    {
        float: unset!important;
    }
    dd {
        margin-left: 0px!important;
    }   
    .col-sm-6
    {
        width: 100%!important;
    }
    .grid-item
    {
        width: unset!important;
    }
    .index-grid
    {
        width: 48%!important;
    }
}

@media (max-width: 1199px)
{
    .col-sm-6 .col-xs-12 .col-md-8 .col-lg-12 metadata
    {
        width: 100%!important;
    }
    .grid-item
    {
        width: unset!important;
    }
    .index-grid
    {
        width: 32%!important;
    }
}

@media (max-width: 809px)
{
    .index-grid
    {
        width: 31%!important;
    }
}
@media (max-width: 488px)
{
    .index-grid
    {
        width: 100%!important;
    }
}

@media (max-width: 1124px)
{
    .index-grid h4,
    .mob-title h4 
    {
        font-size: 14px!important;
    }
    .gallery-title,
    .mob-title
    {
        width: 65%;
    }
}
@media (max-width: 900px)
{
    .index-grid h4,
    .mob-title h4  
    {
        font-size: 12px!important;
    }
}
@media (max-width: 830px)
{
    .index-grid h4,
    .mob-title h4 
    {
        font-size: 10px!important;
    }
}
@media (max-width: 768px)
{
    .gallery-title
    {
        display: none!important;
    }
    .mob-title
    {
        visibility: visible!important;
        display: block!important;
    }
}
@media (max-width: 650px)
{
    .gallery-title,
    .mob-title
    {
        width: 75%;
    }
}
@media (max-width: 550px)
{
    .gallery-title,
    .mob-title
    {
        width: 100%;
    }
}
@media (max-width: 488px)
{
    .index-grid h4,
    .mob-title h4 
    {
        font-size: 14px!important;
    }
    .gallery-title,
    .mob-title
    {
        width: 50%;
    }
}*/
/* INSTRUMENT METADATA TABLE END */



/* STATIC PAGE CUSTOMISATIONS */
/* -----> Global <----- */
.page-tagline {
    margin-left: -250px;
    margin-bottom: 50px;
}
/* -----> Global END <----- */

/* -----> Films <----- */
#poa-films {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#films-title {
    width: 40%;
    margin-left: -350px;
}
.films-list {
    list-style: none;
    margin-left: -250px;
    margin-right: 70px;
}
.films-list li {
    margin-bottom: 30px;
}
.film-img-cont{
    position: relative;
    width: 250px;
    background: #114250;
    margin: 10px 10px 10px 0px;
}
.film-img-cont .video-still {
    border: 5px solid #114250;
    width: 250px;
    height: 150px;
    transition: .5s ease;    
}
.film-img-cont:hover .video-still {
    opacity: 0.5;
}
.film-img-cont .eye-overlay {
    opacity: 0;
    border: none!important;
    position: absolute!important;
    width: 100px!important;
    height: auto!important;
    left: 75px;
    top: 25px;
    transition: .8s ease;
}
.film-img-cont:hover .eye-overlay {
    opacity: .7;
    transition: .8s ease;
}
.film-info {
    display: flex;
    text-align: justify;
}
.film-info a {
    cursor: pointer;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;  
}

.films-list p {
    margin: auto;
    margin-left: 0px;
    font-size: 18px;
}
/* -----> Films END <----- */

/* -----> Individual Film <----- */
#poa-film {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#film-title {
    width: 100%;
    margin-left: -350px;
}
.film-cont {
    margin-left: -250px;
    margin-top: 50px;
}
.film-cont p {
    margin-right: 70px;
    text-align: justify;
}
.ifilm-img-cont {
    float: left;
    margin-right: -25px;
}
.ifilm-text-cont {
    padding-top: 9px;
}
.ifilm-text-cont strong {
    color: #222;
}
p.film-themes-p {
    margin-top: 25px;
}
.ivideo-still {
    border: 5px solid #114250;
    width: 400px;
}
.film-credits{
    color: #114650;
    font-size: 15px;
    width: 400px;
    margin: 5px 0px 0px 0px!important;
}
.film-themes-p a {
    cursor: pointer;
}
.hirshow-title {
    margin-left: -400px!important;
}
#hirshow-text {
    padding-top: 0px;
}
.lindey-title {
    margin-left: -400px!important;
}
#lindey-text {
    padding-top: 28px;
}
.sim-title {
    margin-left: -475px!important;
}
#sim-text {
    padding-top: 1px;
}
.wuga-title {
    margin-left: -425px!important;
}
#wuga-text {
    padding-top: 0px;
}
/* -----> Individual Film END <----- */

/* -----> Resources <----- */
#poa-resources {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#resources-title {
    width: 75%;
    margin-left: -400px;
    margin-bottom: 50px;
}
.resource-cont {
    margin-left: -250px;
}
.resource-cont p {
    margin-bottom: 30px;
    margin-right: 70px;
}
.resource-cont h2 {
    top: -500px;
}
#learning, #viruallibrary, #virtualshetl, #synagogues,
#holocaustexplained, #migration, #artmusicculture, #scotland {
    top: -250px;
    display: block;
    position: relative;
    visibility: hidden;
}
/* -----> Resources END <----- */

/* -----> Introduction / How to <----- */
#poa-intro {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#intro-title {
    width: 80%;
    margin-left: -350px;
    margin-bottom: 50px;
}
#howto-title {
    width: 50%;
    margin-left: -350px;
    margin-bottom: 50px;
}
.intro-cont {
    margin-left: -250px;
}
.intro-cont p {
    margin-bottom: 30px;
    margin-right: 70px;
}
/* -----> Introduction / How to END <----- */

/* -----> Themes <----- */
#poa-themes {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#themes-title {
    width: 55%;
    margin-left: -400px;
}
.themes-cont {
    margin-left: -250px;
}
.themes-cont p {
    margin-bottom: 30px;
    margin-right: 70px;
}
/* -----> Themes END <----- */

/* -----> Individual Theme <----- */
#poa-theme {
    float: right;
    background-position: center;
    width: 50%;
    height: auto;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: auto;
}
#theme-title {
    width: 100%;
    margin-left: -420px;
}
.theme-cont {
    margin-left: -250px;
}
.theme-cont p {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 70px;
}
/*.theme-info {
    margin-bottom: 50%!important;
}*/ 
.theme-still {
    border: 5px solid #114250;
    width: 600px;
}
.theme-credits{
    color: #114650;
    font-size: 15px;
    width: 600px;
    margin: 5px 0px 0px 0px!important;
}
.theme-top {
    margin-top: 50px;
}

.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.gorbals-theme {
    margin-left: -480px!important;
}
.greatmigration-theme {
    margin-left: -350px!important;
}
.history-theme {
    margin-left: -350px!important;
}
.arts-theme {
    margin-left: -350px!important;
}
.culture-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.food-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}
.fam-theme {
    width: 50%!important;
    margin-left: -350px!important;
}

.religion-list {
    padding: 0;
    font-size: 18px;
    margin-right: 70px;
    text-align: justify;
}
.title-religion-li, 
.title-religion-li em {
    color: #114250;
    font-weight: bold;
    margin-top: 40px;
}
.inner-religion-list {
    margin-top: 20px;
    font-weight: 400;
}
.inner-religion-list em {
    font-weight: 500;
}
/* -----> Individual Theme END <----- */
/* STATIC PAGE CUSTOMISATIONS END */


/* GLOBAL FUNCTIONALITY CUSTOMISATIONS */
/* -----> Custom Sidebar <----- */
.poa-sidebar {
    float: left;
    position: fixed;
    padding-top: 70px;
    width: 18%;
    height: 100%;
    left: 0;
    background-color: #114250;
    border-right: #47838f 5px solid;
    border-bottom: #47838f 5px solid;
    z-index: 999;
    overflow-y: scroll;
}
.accordion, .non-accordion {
    background-color: #114250;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    text-transform: capitalize;
}
.active, .accordion:hover, .non-accordion:hover, .panel p:hover {
    background-color: #47838f; 
}
.panel {
    display: none;
    background-color: #145263;
    overflow: hidden;
    border: #47838f 2px solid;
    border-radius: 0!important;
    margin: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    margin-bottom: 0!important;
}
.panel p {
    color: #fff;
    padding: 10px 18px;
    margin: 0!important;
}
/* -----> Custom Sidebar END <----- */

/* -----> Quick Back Links for Films & Themes <----- */
.back-link {
    position: absolute;
    left: 20%;
    margin-top: -2%;
    font-size: 18px;
    color: #114250;
}
.back-link span {
    color: #114250!important;
}
/* -----> Quick Back Links END <----- */
/* GLOBAL FUNCTIONALITY CUSTOMISATIONS END */