/*
Site Name: ---
Site URI: ---
Description: ---
Version: 1.0

UPDATE INFO ---------------------------------------

Revision number: 1.0
Last updated:
Last update made by: Adam Wright (@rike) for big-backyard.co.nz

CONVENTIONS ---------------------------------------

hyphenate class / id names - #my-id-name, .my-class-name
class / id names to start with lower case letter (ID's reserved for .net use will start with Upper case letter)

CREDITS -------------------------------------------
this file adapted from the fantastic resources at http://html5boilerplate.com/
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
other relevant credits have been left inline
*/

/* Reset -----------------------------------------------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #999; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }


/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */
body 								{ font:16px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button 	{ font:99% sans-serif; }

pre, code, kbd, samp 				{ font-family: monospace, sans-serif; } /* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */

/* Minimal base styles -----------------------------------------------------------------------------------------------------------------*/

html 				{ overflow-y: scroll; } /* Always force a scrollbar in non-IE */
a:hover, a:active 	{ outline: none; } /* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
ul, ol 				{ margin-left: 2em; }
ol 					{ list-style-type: decimal; }
nav ul, nav li       { margin: 0; list-style: none; list-style-image: none; } /* Remove margins for navigation lists */
small 				{ font-size: 85%; }
strong, th 			{ font-weight: bold; }
td 					{ vertical-align: top; }
sub, sup 			{ font-size: 75%; line-height: 0; position: relative; } /* Set sub, sup without affecting line-height: gist.github.com/413930 */
sup 				{ top: -0.5em; }
sub 				{ bottom: -0.25em; }
pre 				{ word-wrap: break-word; padding: 15px; }
textarea 			{ overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend,
.ie7 legend 		{ margin-left: -7px; }

input[type="radio"] 		{ vertical-align: text-bottom; } /* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="checkbox"] 		{ vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input 					{ vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; } /* Hand cursor on clickable input elements */

button, input, select, textarea { margin: 0; } /* Webkit browsers add a 2px margin outside the chrome of form elements */

input:valid, textarea:valid   								{  } /* Colors for form validity */
input:invalid, textarea:invalid 							{ border-radius: 1px; -moz-box-shadow: 0 0 5px red; -webkit-box-shadow: 0 0 5px red; box-shadow: 0 0 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection 	{ background: #163772; color: #fff; text-shadow: none; } /* These selection declarations have to be separate No text-shadow: twitter.com/miketaylr/status/12228805301 Also: hot pink! */
::selection 		{ background: #163772; color: #fff; text-shadow: none; }
a:link 				{ -webkit-tap-highlight-color: #AA841E; } /* j.mp/webkit-tap-highlight-color */

button 				{  width: auto; overflow: visible; } /* Make buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
.ie7 img 			{ -ms-interpolation-mode: bicubic; } /* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

/* Default Styles --------------------------------------------------------------------------------------------------------*/

html 							{ -webkit-font-smoothing: antialiased; }
body 							{ background: #EEEEEE; }
body, select, input, textarea 	{ color: #555; font-family: 'Source Sans Pro',sans-serif }

h1, h2, h3, h4, h5, h6          { text-rendering: optimizeLegibility; color: #000000; font-weight: bold; }
h1 								{ font-size: 20px; line-height: 24px; margin: 18px 0 17px 0; position: relative; color: #373B41;}
h2 								{ font-size: 18px; line-height: 36px; margin: 0 0 0 0; }
h3 								{ color: #373B41; font-size: 16px; line-height: 18px; margin: 0 0 9px 0; }

h1.itemtitle 					{ font-family: 'Source Sans Pro',sans-serif; font-size: 22px; line-height: 30px;
                                    margin: 15px 0 10px 0; position: relative; color: #373B41; }
.left-title h1.itemtitle, .full-title h1.itemtitle
                                { margin-top: 0; padding-top: 10px; }

h1 a.heading-link               { color: #999; text-decoration: none; }
h1 a.heading-link:hover         { text-decoration: underline; }

p 								{ font-size: 17px; margin-bottom: 18px; line-height: 1.4em; }

a, a:active, a:visited          { color: #163772; }
a:hover 						{ text-decoration: underline; color: #999; }

/*

ADDED FOR EERC

 */

.table-header                   { background-color: #f0f4fa; width: 144px; }
.interview_summary              { padding: 1em; font-size: 90%; line-height: 1.3em; }

audio                           { margin-top: 8px; margin-right: 8px; }
.photos                         { width: 300px; padding: 8px; }

/* Site Css ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Structure -------------------------------------------------------------------------------------------------------------*/
.container 			{ background: #ffffff;}
header .container   { padding: 0;}
.header-normal		{ max-width: 1170px; height: 135px; background-color: #00526F;}
.col-main			{ float: left; margin-right: 0; }

.navbar             { margin-bottom: 0;}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background-color: #4A7787; color: #FFFFFF;  }

.navbar-default     { background-color: #999; border: 0;  }


/* Common Containers & Subclasses ----------------------------------------------------------------------------------------*/

/* https://mycolor.space/?hex=%2300526F&sub=1 */

#collection-title	{ display: block;
                        float: left;
                        color:#ffffff;
                        text-rendering: optimizeLegibility;
                        font-family: 'Source Sans Pro',sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 32px;
                        line-height: 1.3em;
                        padding-top: 20px;
                        padding-left: 15px;}
#collection-sub-title   { font-size: 24px;  line-height: 28px;  }
#collection-title a     { text-decoration: none; color: #eee; font-family: 'Source Sans Pro',sans-serif;}
#collection-title a:hover { text-decoration: none; color: #CCCCCC;}


#collection-search      { float: right; padding-top: 40px;}

.search-box             { width: 280px;}

.sidebar-nav            { padding-top: 10px;  }

#menu                           { width: 940px; background-color: #EEEDE8; margin: 0 auto; height: 33px; }
.menu-links li					{ display: inline; float: right; height: 33px; padding-left: 0; padding-right: 0; }
.menu-links li a 			    { font-weight: bold; font-size: 11px; text-transform: uppercase; float: left;
                                text-decoration: none; margin-left: 10px; color: #666666; display: inline-block;
                                height: 33px; line-height: 2.5em; padding-left: 20px; padding-right: 20px;text-align: center; }
.menu-links li a:hover		    { background-color: #4A7787; color: #FFFFFF;}

/** content pages*/
.content a                      { color: #000000;}
.content a:visited              { color: #000000;}
.content a:hover                { color: #000000;}

.btn-info                       { background-color: #729fcf; color: #FFFFFF; letter-spacing: 1px; margin-bottom: 5px;}
.btn-info:hover                 { background-color: #4A7787; color: #FFFFFF;}

.btn-info a                     { color: #FFFFFF; letter-spacing: 1px;}
.btn-info a:active              { color: #FFFFFF; letter-spacing: 1px;}
.btn-info a:visited             { color: #FFFFFF; letter-spacing: 1px;}

.item-div                       { width: 660px; text-align: left; display: block; }
.iteminfo                       { display: block; min-height:40px; text-align: left; width: 100%; float:left; }
.iteminfo h3                    { font-size: 20px; margin-top: 5px; }
.sort                           { float: right;  text-align: right; }

/** side panel */
.list-group-item                { background-color: #9AAEBB; }
.list-group-item.active         { background-color: #667A86; color: #FFFFFF; border-color: #f0dddd;}
.list-group-item.active:hover   { background-color: #673F5C; color: #FFFFFF;}

.list-group-item a { font-size: 14px; }
.list-group-item.active a       { color: #FFFFFF; letter-spacing: 1px;}

.related-items .list-group-item.active         { background-color: #4A7787; color: #FFFFFF;}
.related-items .list-group-item.active:hover   { background-color: #4A7787; color: #FFFFFF;}

.badge { background-color: #9B6F8E; }

/** Search results */
.search-row {
    border-bottom: 1px solid #999;
    padding-top: 15px;
    padding-bottom: 15px;
}

.results-num {
    padding-left: 0;
    padding-right: 0;
}


/** footer */

footer                          { padding-top: 10px; padding-bottom: 10px;}

.footer-logos                   { padding-bottom: 20px; }

.footer-policies                { font-size: 14px; margin-bottom: 5px; color: #555555;  text-align: center;}

.footer-policies a, a:active, a:visited         { color: #4A7787; text-decoration: none;}
.footer-policies a:hover 						{ text-decoration: underline; color: #999;}
.footer-copyright                               { font-size: 11px;}

.uoe-logo {
    display: block;
    width: 119px;
    height: 88px;
    float: left;
    background: url(../images/UoELogo.gif) no-repeat 0 0;
    margin-right: 30px;
    margin-top: 5px;
}

.eerc-logo {
    display: block;
    width: 120px;
    height: 120px;
    float: left;
    background: url(../images/eerc_horse_logo_transp.png) no-repeat 0 0;
    background-size: 100% auto;
    margin-right: 30px;
    margin-left: 90px;
    margin-top: 10px;
}

.eerc-logo-small {
    display: block;
    width: 120px;
    height: 120px;
    float: left;
    background: url(../images/eerc_horse_logo_transp.png) no-repeat 0 0;
    background-size: 70% auto;
    /*margin-right: 30px;
    margin-left: 90px;*/
    margin-top: 10px;
}

.index-img {
    padding-bottom: 20px;
}

.crc-logo {
    display: block;
    width: 135px;
    height: 80px;
    float: left;
    background: url(../images/CRC.png) no-repeat 0 0;
    background-size: 70% auto;
    margin-right: 30px;
}

.padded_images {
    padding: 1em;
}

ul.content {
    margin: 1em;
}

@media only screen and (max-width: 480px) {
    .eerc-logo {
        width: 100px;
        margin-right: unset;
        margin-left: 1em;
    }

    #collection-title {
        font-size: 20px;
    }

    #collection-search {
        float: left;
        padding-top: unset;
        margin-left: 1em;
    }

    .search-box {
        width: 180px;
    }

    .navbar-form  {
        border: 0;
        box-shadow: unset;
        -webkit-box-shadow: unset;
    }

    #image-container {
        margin-bottom: 1em;
    }

}

/** images in text */
.gap-right {
    margin-right: 10px;
}

.gap-left {
    margin-left: 10px;
}

/* Custom Containers & Subclasses ----------------------------------------------------------------------------------------*/

b.hit                               { color: #000; padding: 2px; background-color: #9AAEBB; }
.tags					            { margin-top: 5px;  }
.tags a 				            { color: #000 !important; font-size: 13px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 2px 4px; line-height: 20px; margin-right: 8px; margin-top: 6px; text-decoration: none; display:inline-block; }
.tags a.bold			            { font-weight: bold; }
.tags a:hover			            { background: #33535e !important; color: #ffffff !important; text-decoration: none; }
.tags a:visited			            { background: #999; color: #ffffff; text-decoration: none; }
.tags a:visited:hover		        { background: #33535e; color: #ffffff; text-decoration: none; }

.subject                            { margin: 0 !important; border: 1px solid #9AAEBB !important; }

/** pagination */
.pagination > .active > span        { background-color: #4A7787; color: #ffffff;  padding: 8px 16px; }

.pagination > li > a                { color: #4A7787; padding: 8px 16px; }

.quote                              { margin-left: 50px; margin-right: 50px; margin-top: 10px;  }
q                                   { quotes: "“" "”" "‘" "’"; display: block; font-weight: bold;  }
q:before                            { content: open-quote;  }
q:after                             { content: close-quote;  }
.float-right                        { float: right;  }

.feedback_form                      { padding: 0 20px;}
.feedback_form label                { display: block; width: 100px;}
#recaptcha_table                    { width: 480px; }


/* <END> Site Css \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Non-semantic Helper Classes --------------------------------------------------------------------------------------------------------*/

.ir 			{ display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; } /* For image replacement */
.hidden 		{ display: none; visibility: hidden; } /* Hide for both screenreaders and browsers: css-discuss.incutio.com/wiki/Screenreader_Visibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } /* Hide only visually, but have it available for screenreaders: by Jon Neal.*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.invisible 		{ visibility: hidden; } /* Hide visually and from screenreaders, but maintain layout */
.clearfix:before, .clearfix:after 	{ content: "\0020"; display: block; height: 0; overflow: hidden; } /* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.j.mp/bestclearfix */
.clearfix:after 					{ clear: both; }
.clearfix 							{ zoom: 1; } /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */


/* Media queries for responsive design --------------------------------------------------------------------------------------------------------*/

@media all and (orientation:portrait) {
    /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
    /* Style adjustments for landscape mode goes here */
}

@media screen and (max-device-width: 480px) {
    /* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome) consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
    /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
    /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* Print styles --------------------------------------------------------------------------------------------------------*/

@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
        -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}


/*
 Justified Image gallery containers, one for index and one for people sub page
 */

#image-container {
    width: 300px;
    margin-right: 1em;
}

#image-container-people {
    width: 800px;
    margin: auto;
}

/*
More or less excerpt link
 */

a.moreless:link {
    color: blue;
}

.component_id {
    font-size: 13px;
}