/* NAVIGATION BAR */
.menu-links li {
    width: 14.2%;
}

/* HEADER */
.quick-links {
    margin-top: 20px;
}
.quick-links ul {
    display: flex;
    list-style: none;
    margin-left: 45px;
}
.quick-links ul li {
    padding: 0px 1em 0px 0px;
    white-space: nowrap;
}
.quick-links ul li a {
    padding: 0px 10px;
    font-weight: 600;
    text-decoration: none;
}
.overlay {
    position: relative;
    margin-top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(29,98,184);
    overflow: hidden;
    width: 0%;
    height: 3px;
    transition: .5s ease;
}
.quick-links ul li:hover .overlay {
    width: 100%;
}
.quick-links ul li a:hover, .catalogue-list li a:hover {
    color: rgb(29,98,184);
}

/* SEARCH BAR */
#collection-search {
    padding-left: 0;
}
.search input[type=text] {
    width: 75%;
    -webkit-box-shadow: none;
}
.search input.btn {
    float: right;
}

/* SITEWIDE BODY */
#main {
    padding-top: 19%;
}
.col-main {
    text-align: center;
}
.col-main h1, h2, h3, h4, h5, q {
    color: rgb(29,98,184);
}

/* INDEX PAGE */
#dancer-image            { width: 325px; height: 238px; background: url(../images/Lenglen-and-MM-2.jpg) no-repeat center; background-size: 125%; float: left;}
#cricket-image            { width: 325px; height: 238px; background: url(../images/Cricket-and-dance-pose.jpg) no-repeat center; background-size: 110%; float: left;}

.quote {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
}
.quote-p {
    font-size: 15px;
    text-align: center;
}

.cataglogue-list-index {
    margin-left: 25%;
}
.catalogue-list {
    list-style: none;
    display: initial;
    text-align: center;
}
.catalogue-list li {
    margin-bottom: 20px;
    width: 70%;
}
.catalogue-list a {
    font-weight: bold;
    color: rgb(29,98,184);
    text-decoration: none;
}
.record ul li:hover .overlay {
    width: 100%;
}

/* SIDEBAR */
.col-sidebar {
    margin-top: 1.6%;
}
.sidebar-overlay ul a:hover {
    text-decoration: none;
    color: rgb(29,98,184);
}
.sidebar-overlay, .footer-overlay {
    position: relative;
    margin-bottom: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(29,98,184);
    overflow: hidden;
    width: 0%;
    height: 1px;
    transition: .5s ease;
}
.col-sidebar ul li:hover .sidebar-overlay {
    width: 100%;
}

/* FOOTER */
.site-links {
    display: flex;
    margin-left: 30%;
}
.site-links a, .site-links a:hover, 
.footer-disclaimer a, .footer-disclaimer a:hover {
    text-decoration: none;
    color: rgb(29,98,184);
    margin: 0px 2px;
    padding: 0px 10px;
}
.site-links div:hover .footer-overlay {
    width: 93%;
}
